# Ignore .env files
.env

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled Python files
*.pyo

#ignore dynamic memory
dynamic_memory.json